.body {
  background: #916b51;
}

.maincontainer {
  display: flex;
  justify-content: center;
}

.glyphicon {
  font-size: 80px;
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.heartcontainer {
  background-color: #caf9ca;
  color: #f28282;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 25px;
}

.title {
  font-family: 'Pacifico', cursive; 
  font-size: 40px;
  margin: auto;
}

.subtitle {
  font-family: 'Pacifico', cursive; 
  font-size: 80px;
  margin: auto;
}

.heartbeat {
  -webkit-animation: scale 1500ms infinite linear;
  -moz-animation: scale 1500ms infinite linear;
  -o-animation: scale 1500ms infinite linear;
  animation: scale 1500ms infinite linear;
}
@-moz-keyframes scale {
  0% {
    -moz-transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(1.5, 1.5);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}


@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@-o-keyframes scale {
  0% {
    -o-transform: scale(1, 1);
  }
  50% {
    -o-transform: scale(1.5, 1.5);
  }
  100% {
    -o-transform: scale(1, 1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
